<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<p>ホテル検索</p>
<form action="ex2.html" th:action="@{/hotel/searchByLessThanPrice}" method = "post">
<input type="text" name="price">円以下<br>
<button>検索</button>
</form>
<div th:each="hotel:${hotelList}">
<table border=1 >
	<tr>
		<td>ホテル名</td>
		<td th:text="${hotel.hotelName}">横浜ベイホテル東急</td>		
	</tr>
	<tr>
		<td>最寄駅</td>
		<td th:text="${hotel.nearestStation}">桜木町駅</td>
	</tr>
	<tr>
		<td>価格</td>
		<td th:text="${hotel.price} + 円">10000</td>
	</tr>
</table><br>
</div>


</body>
</html>